params {
    input_mode = 'fastq'
    
    h5_dir = "$projectDir/results/cellranger"

    seurat_rds = "$projectDir/results/seurat/merged_qc_filtered.rds"

    annotation_file = "$projectDir/results/annotation/cluster_annotation.csv"

    /** 输入 metadata*/
    samplesheet = "$projectDir/samplesheet.csv"

    /** 输出目录*/
    outdir = "$projectDir/results"

    /** Cell Ranger*/
    

    /* * Cell Ranger reference*/
    transcriptome = "/reference/GRCh38/GRCh38"

    /** Cell Ranger resources*/
    cellranger_cpus = 8
    cellranger_mem_gb = 64

    create_bam = true
}

process {

    stageInMode = 'symlink'

    withName:FASTQC {
        cpus = 4
        memory = '8 GB'
        maxForks = 2
    }

    withName:CELLRANGER {
        cpus = params.cellranger_cpus
        memory = "${params.cellranger_mem_gb} GB"
        maxForks = 1
        containerOptions = '-v /home/liaojunyan/snRNA/reference/GRCh38:/reference/GRCh38:ro'
    }

    withName:SEURAT {
        cpus = 4
        memory = '32 GB'
    }
}

profiles {

    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }

    conda {
        conda.enabled = true
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
    }
}

manifest {
    name = 'gse138852-scrnaseq'
    description = 'GSE138852 human snRNA-seq Nextflow pipeline'
    version = '1.0.0'
}